<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198538657921-i2j997luookngc1bu0k3v1dchbmn2phk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198538657921-i2j997luookngc1bu0k3v1dchbmn2phk</string>
	<key>API_KEY</key>
	<string>AIzaSyDHUyRiAdMDFtYDyzjVA0doyXoMsqPj8PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>198538657921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ranaahmmi.prefecthabittracer</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198538657921:ios:66d34f1e3cca0519a20d80</string>
	<key>DATABASE_URL</key>
	<string>https://habit-tracker-pro.firebaseio.com</string>
</dict>
</plist>